body{

    background-image: url(/images/book.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.login
{   
    float: right;
    width: 45%;
    height:43.2em;     
    padding-left: 7em;
    background-color:#e0dadac7;
 }
h2{
    margin-top: 18%;
    font-family:'Courier New', Courier, monospace
}
.login label
{   height: 1.5em;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(100, 92, 92);
}
.login input
{
  width: 400px;
   height: 4em; 
   border-radius: 30px;
   border-color:darkgray;
}

.login button
{   width: 400px;
    border-radius: 20px;
    height: 4em;
    color: white;
    background-color:rgb(90, 30, 255);
}
