
<input type="text"  name="title"  placeholder="Enter Book Name" required ><br><br>
<input type="text"  name="author" placeholder="Enter Author Name" required ><br><br>
<input type="text" name="genre" placeholder="Enter Genre" required><br><br> 
<input type="text" name="description"  placeholder="Brief description of Book:" required class="des"><br><br>
<div class="mb-3">
  <label for="formFile" class="form-label">Upload Book's Photo</label>
  <input type="file" name="image" id="inp">
</div>          